body{
    width:960px;
    margin: 0 auto;
    background-color: #b4bac4;
  }
  #name{
    font-family: Courier, Sans-serif;
  }
  #page-wrapper{
    background-color: #ffffff;
    margin : 40px, 0, 40px, 0;
    padding : 10px, 20px, 10px, 20px;
    border-radius: 5px;
    box-shadow: 0, 2px, 6px, rgba(100,100,100,0.3);
  }
  a{
    margin: 0, 0, 0, 8px;
    font-size:15px;
    padding-right: 5px;
    font-family: sans-serif;
    color:#389140;
    display:inline-block;
    text-decoration:none;
  }
  .menu{
    height:30px;
    line-height:30px;
    border-style: solid;
    border-radius: 5px;
    padding:40px, 50px, 40px, 50px;
    margin:0,0,20px,0px;
  }
  .menu:hover{
    background-color: #42f4b9;
  }
  .menu:active{
    background-color: #f4f442;
  }
  .jump{
    color:black;
    display: inline-block;
    margin: auto;
    padding: 5px 25px 5px 5px;
  }
  #C1{
    color:green;
  }
  #C2{
    color:green;
  }
  #C3{
      color:green;
  }
  .secret{
    border-radius:6px;
    transition-property: border-radius;
    transition-duration: 1s;
    transition-timing-function: ease-in;
  }
  .secret:hover{
    border-radius:50%;
  }
  .video{
    border-radius: 10%;
  }